[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/lustyexplorer"]
	path = bundle/lustyexplorer
	url = git@github.com:vim-scripts/LustyExplorer.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = git@github.com:othree/xml.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
